%article.video_category
  %header
    %h2 Restaurants
  .videos.row
    - @businesses.each do |business|
      .video.col-sm-2
        = link_to "", nil do
          #{business.name}
          %img(src="#{business.image_url}")