article.video_category
  margin-bottom: 20px
  padding: 20px 10px
  header
    margin-bottom: 20px
    h3
      font-size: 18px
      a
        color: black
    h2
      font-size: 36px
  div
    img
      width: 200px
      height: 150px

section.reviews
  form
    margin-bottom: 30px
  ul
    article.review
      margin-top: 20px
      border-top: 1px solid #ccc
      padding-top: 20px
      li
        span
          font-weight: bold
          font-size: 14px
        &:last-of-type
          border-bottom: none